altgraph==0.17.3
backcall==0.2.0
certifi==2022.12.07
chardet==4.0.0
colorama==0.4.5
decorator==4.4.2
httplib2==0.19.0
idna==2.10
install==1.3.5
ipython==8.10.0
ipython-genutils==0.2.0
jedi==0.18.0
Nuitka==1.1.3
orderedset==2.0.3
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.14
pycurl==7.43.0.6
Pygments==2.7.4
pyinstaller @ https://github.com/pyinstaller/pyinstaller/tarball/develop
pyinstaller-hooks-contrib==2022.10
PySimpleSOAP==1.16.2
python-apt==2.2.1
python-debian==0.1.39
python-debianbts==3.1.0
reportbug==7.10.3+deb11u1
requests==2.25.1
six==1.16.0
tqdm==4.64.1
termcolor==2.0.1
traitlets==5.0.5
urllib3==1.26.5
wcwidth==0.1.9
zstandard==0.18.0
